{% load static %}

<!DOCTYPE html>
<html lang="en">
{% block style_block %}
<style>
html {
    min-height: 100%;
    position: relative;
    }
    body {
        margin: 0;
        margin-bottom: 30px;
    }
    footer {
        background-color: black;
        position: absolute;
        bottom: 0;
        width: 100%;
        color: white;
    }
</style>
{% endblock style_block %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="icon" type="image/x-icon" href="{% static 'app_blog/assets/terminal_1.ico' %}" />
    <link href="{% static 'app_blog/css/styles.css' %}" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">About</a>
                    </li>
                    {% if user.is_staff == 1 %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'usuario' %}">Users</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'post' %}">Posts</a>
                    </li>
                </ul>
            </div>
            <ul  class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                    <div class="btn-group">
                        {% if user.avatar.imagen.url %}
                            <img class="btn btn-outline-success dropdown-toggle" style="border-radius: 25px; --bs-btn-padding-y: 0 rem !important;" data-bs-toggle="dropdown" aria-expanded="false" width="45" height="45" src="{{ user.avatar.imagen.url }}">
                        {% else %}
                            <img class="btn btn-outline-success dropdown-toggle" style="border-radius: 25px; --bs-btn-padding-y: 0 rem !important;" data-bs-toggle="dropdown" aria-expanded="false" width="45" height="45" src = "/media/avatares/default.png">
                        {% endif %}
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="{% url 'editar_perfil' %}"><strong>Mi perfil</strong></a></li>
                            {% if user.avatar.imagen.url %}
                                <li><a class="dropdown-item" href="{% url 'editar_avatar' %}"><strong>Editar avatar</strong></a></li>
                            {% else %}
                                <li><a class="dropdown-item" href="{% url 'agregar_avatar' %}"><strong>Agregar avatar</strong></a></li>
                            {% endif %}
                            <li><a class="dropdown-item" href="{% url 'logout' %}"><strong>Cerrar Sesión</strong></a></li>
                        </ul>
                    </div>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container">
        {% block changing_content %}

        {% endblock changing_content %}
    </div>
    <footer class="bg-light text-center text-lg-start">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: #213343;color: white;">
            © 2022 Copyright
        </div>
        <!-- Copyright -->
    </footer>
    <!-- JavaScript Bundle with Popper -->
    <script>window.CKEDITOR_BASEPATH = '/proyecto_blog/static/ckeditor/';</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>