{% extends 'base.html' %}

{% block changing_content %}
<div class="row">
    <div class="col-md-8 offset-md-2" style="padding-bottom: 10%; padding-top: 5%;">
        <a class="btn btn-outline-success" style="float: right;" href="{% url 'post' %}" role="button">Regresar</a>
        <div class="text-center pt-5">
            <h1>{{ title }}</h1>
        </div>

        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ formulario.media }}
            {{ formulario.as_p }}
            <input type="submit" value="Publicar" />
        </form>
    </div>
</div>
{% endblock changing_content %}