{% extends 'base.html' %}
{% load static %}

{% block changing_content %}

    <div class="row">
        <div style="text-align: right;">
            <a href="{% url 'usuario' %}" style="text-decoration: none;">Back</a>
        </div>
        <div class="col-md-4 offset-md-4">
            <div class="text-center pt-5">
                <h1> Crear usuario</h1>
            </div>

            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    {{ formulario.as_p }}
                </div>
                <input type="submit" value="Enviar" />
            </form>
        </div>
    </div>

{% endblock changing_content %}