{% extends 'base.html' %}

{% block changing_content %}

<h1>Posts</h1>
<a class="btn btn-outline-primary" href="{% url 'crear_post' %}" role="button">Crear post</a>
<br><br>
<h3>Posts:</h3>

<table class="table table-striped">
    <tbody>
        <tr>
            <th>
                <strong>Título</strong>
            </th>
            <th>
                <strong>Subtítulo</strong>
            </th>
            <th>
                <strong>Imagen</strong>
            </th>
            <th>
                <strong>Cuerpo</strong>
            </th>
            <th>
                <strong>Autor</strong>
            </th>
            <th>
                <strong>Fecha creación</strong>
            </th>
            <th>
                <strong>Id usuario</strong>
            </th>
        </tr>
        {% for post in posts %}
        <tr>
            <td>{{post.titulo}}</td>
            <td>{{post.subtitulo}}</td>
            <td>{{post.imagen}}</td>
            <td>{{post.cuerpo}}</td>
            <td>{{post.autor}}</td>
            <td>{{usuario.fecha_creacion}}</td>
            <td>{{post.usuario_id}}</td>
            <td><a href="{% url 'editar_post' post.id %}" class="btn btn-outline-light">Editar</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock changing_content %}